*{
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-color: #bee3ff;
}

.shopping-list{
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding:20px 0;
  background-color: #ec645b;
  border-radius: 8px;

  
}

.search-items{
  display: flex;
  flex-direction: row;
  width: 60%;
  border-radius: 8px;
  border: 4px #fbc1bb solid;
  background-color: #fbc1bb;  
}

.search-bar{
  border: none;
  width: 100%;
  height: 25px;
  font-size: 18px;
  padding-left: 10px;
  color:rgb(181, 37, 37);
  background-color: #fbc1bb;
  font-weight: bold;  

}

.search-button{
  background: transparent;
  border: none;
}

.search-bar:focus{
  outline: none;
}
.search-bar::placeholder{
  color:rgb(181, 37, 37);
  font-weight: 500;
}

.items-list{
  margin: 20px 0;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  color:white;
  font-weight: bold;
  justify-content: space-between;
  
}
.items-list>span{
  font-size: 20px;

}

.counter{
  display: flex;
  align-items: center;
  justify-content: center;
  color:red;
  background-color: white;
  border: 4px solid white;
  border-radius: 10px;
}
.counter>span{
  font-size: 20px;
  margin-left: 5px;
  margin-right: 5px;
} 

.item-name-completed{
  text-decoration:line-through;
  text-decoration-color: rgb(181, 37, 37);
  text-decoration-thickness: 3px;
}

hr{
  width: 80%;
  color: white;
  border: 1px solid white;
}